<h1>Admin panel</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>ID</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.id}}</td>
                <td>
                    <form action="/api/sessions/{{this.id}}/role" method="POST" style="display: inline;">
                        <input type="hidden" name="userId" value="{{this.id}}">
                        <select name="role">
                            <option value="user" {{#if (eq this.role "user")}}selected{{/if}}>User</option>
                            <option value="admin" {{#if (eq this.role "admin")}}selected{{/if}}>Admin</option>
                            <option value="premium" {{#if (eq this.role "premium")}}selected {{/if}}>Premium</option>
                        </select>
                        <button type="submit" name="action" value="updateRole">Update Role</button>
                    </form>
                </td>
                <td>
                    <form action="/api/sessions/{{this.id}}" method="POST" style="display: inline;" onsubmit="return confirm('Seguro que quieres eliminar este usuario?');">
                        <input type="hidden" name="userId" value="{{this.id}}">
                        <button type="submit" name="action" value="deleteUser">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


{{>menu}}