<h1>Carrito</h1>
{{#if cart}}
    {{#if cart.products.length}}
    <ul id="cart-products">
        {{#each cart.products}}
            <li data-product-id="{{this.productId._id}}">
                {{this.productId.title}} - $<span class="price">{{this.productId.price}}</span> - 
                <span class="quantity">{{this.quantity}}</span>
                <button class="deleteProd">Eliminar</button>
                <hr>
            </li>
        {{/each}}
    </ul>
    <h2 id="total">Total: ${{calculateTotal cart}}</h2>
    <button id="purchaseCart">Comprar</button>
    {{else}}
    <p>No hay productos en el carrito.</p>
    {{/if}}
{{else}}
    <p>No se encontró el carrito.</p>
{{/if}}

<a href="/">Volver a la home</a>
<a href="/products">Volver a products</a>

<script>
document.querySelectorAll('.deleteProd').forEach(button => {
    button.addEventListener('click', async function() {
        const liElement = this.closest('li');
        const productId = liElement.getAttribute('data-product-id');
        const cartId = '{{cart._id}}'; 
        try {
            const response = await fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (!response.ok) {
                const errorText = await response.text();
                throw new Error(`Error al eliminar producto del carrito: ${errorText}`);
            }

            alert('Producto eliminado del carrito');
            liElement.remove();
            updateTotal();
        } catch (error) {
            console.error('Error:', error);
            alert('Hubo un problema al eliminar el producto del carrito');
        }
    });
});

document.getElementById('purchaseCart').addEventListener('click', async function() {
    const cartId = '{{cart._id}}'; 
    try {
        const response = await fetch(`/api/carts/${cartId}/purchase`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        });

        if (!response.ok) {
            const errorText = await response.text();
            throw new Error(`Error al realizar la compra: ${errorText}`);
        }

        alert('Compra realizada exitosamente');
        window.location.href = `/purchase/${cartId}/ticket`;
    } catch (error) {
        console.error('Error:', error);
        alert('Hubo un problema al realizar la compra');
    }
});

function updateTotal() {
    let total = 0;
    document.querySelectorAll('#cart-products li').forEach(item => {
        const price = parseFloat(item.querySelector('.price').textContent);
        const quantity = parseInt(item.querySelector('.quantity').textContent);
        total += price * quantity;
    });
    document.getElementById('total').textContent = `Total: $${total}`;
}
</script>